@import "tailwindcss";
@plugin "@toolwind/anchors";

:root {
  --bg: #fff;
  --fg: #333333;
  --primary: #162a41;
}

@theme base {
  --color-background: var(--bg);
  --color-foreground: var(--fg);
  --color-primary: var(--primary);

  --text-shadow-outline: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

@layer base {

  html,
  body {
    @apply bg-background text-foreground;
  }
}
